[Desktop Entry]
Type=Application
Name=Package Manager
Name[fr]=Gestionnaire de paquets
Name[pt]=Gerenciador de Pacotes
Name[pt_BR]=Gerenciador de Pacotes
Name[ru]=Менеджер пакетов
TryExec=tazweb
Exec=sh -c 'W=$HOME/.config/slitaz/subox.conf;[ -f $W ]||subox -;tazweb root:$(head $W)@127.0.0.1:82/user/pkgs.cgi'
Icon=tazpkg
Categories=Settings;PackageManager;
