[Desktop Entry]
Name=Tazpkg manual
Name[fr]=Manuel de Tazpkg
Comment=SliTaz packages manager manual
Comment[fr]=Manuel du gestionnaire de paquets SliTaz
Exec=browser file:///usr/share/doc/tazpkg/tazpkg.html
Icon=text-html
Type=Application
Categories=Documentation;
