[Desktop Entry]
Type=Application
Name=TazPkg manual
Name[fr]=Manuel de TazPkg
Name[pt]=Manual do TazPkg
Name[pt_BR]=Manual do TazPkg
Name[ru]=Руководство по TazPkg
Comment=SliTaz packages manager manual
Comment[fr]=Manuel du gestionnaire de paquets SliTaz
Comment[ru]=Руководство по менеджеру пакетов TazPkg
TryExec=browser
Exec=browser file:///usr/share/doc/tazpkg/tazpkg.html
Icon=text-html
Categories=Documentation;System;
