[Desktop Entry]
Type=Application
Name=Package Manager
Name[fr]=Gestionnaire de paquets
Name[pt]=Gerenciador de Pacotes
Name[pt_BR]=Gerenciador de Pacotes
Name[ru]=Менеджер пакетов
TryExec=tazweb
Exec=sh -c 'tazweb root:$$@127.0.0.1:82/user/pkgs.cgi'
Icon=tazpkg
Categories=Settings;PackageManager;
