[Desktop Entry]
Encoding=UTF-8
Name=Package manager
Name[fr]=Gestionnaire de paquets
Comment=Manage software packages
Exec=subox tazpkgbox
Icon=tazpkg
Type=Application
Categories=System;
