/* links classes:
 *   pkg   - package (not installed);
 *   pkgi  - package (installed);
 *   pkgib - package (installed and blocked);
 *   w     - web site
 *
 * you can style links using icons and/or color
 */

a.pkg {
	background: url(images/tazpkg.png) no-repeat left; }
a.pkgi, a.pkgib {
	background: url(images/tazpkg-installed.png) no-repeat left; }
/*
a.pkgi {
	color: green; }
*/
a.pkgib {
	color: red; }
a.w, .pkglist td:nth-child(4) a {
	background: url(images/browser.png) no-repeat left; }

a.pkg, a.pkgi, a.pkgib, a.w, .pkglist td:nth-child(4) a {
	margin: 0; padding: 0 0 0 17px;
	min-height: 16px; min-width: 16px;
	display: inline-block; }


.pkglist td:nth-child(1) {
	white-space: nowrap;
	}

.pkglist td:nth-child(1) a {
	max-width: 12em;
	}

.pkglist td:nth-child(2) {
	max-width: 7em;
	}

.pkglist td:nth-child(1) a, .pkglist td:nth-child(2) {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; -o-text-overflow: ellipsis;
	}

