
/* Sidebar menus */

#content-sidebar { margin: 20px 144px 20px 20px; }

#sidebar {
	position: fixed;
	top: 80px;
	right: 5px;
	width: 132px;
}

#sidebar h4 {
	margin: 0;
	font-size: 16px; color: #222;
	text-align: center;
}

.select_wrap {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
}

.select_wrap select {
	padding: 5px;
	margin:-5px -20px -5px -5px;
	width: 157px;
	font-size: small;
}

select option:nth-child(even) {
	background-color: rgba(0,0,0,0.05);
}



/* links classes:
 *   pkg   - package (not installed);
 *   pkgi  - package (installed);
 *   pkgib - package (installed and blocked);
 *   w     - web site
 *
 * you can style links using icons and/or color
 */

a.pkg {
	background: url(images/tazpkg.png) no-repeat left; }
a.pkgi, a.pkgib {
	background: url(images/tazpkg-installed.png) no-repeat left; }
/*
a.pkgi {
	color: green; }
*/
a.pkgib {
	color: red; }
a.w, .pkglist td:nth-child(4) a {
	background: url(images/browser.png) no-repeat left; }

a.pkg, a.pkgi, a.pkgib, a.w, .pkglist td:nth-child(4) a {
	margin: 0; padding: 0 0 0 17px;
	min-height: 16px; min-width: 16px;
	display: inline-block; }


.pkglist td:nth-child(1), .filelist td:nth-child(1) {
	white-space: nowrap;
	}

.pkglist td:nth-child(1) a, .filelist td:nth-child(1) a {
	max-width: 12em;
	}

.pkglist td:nth-child(2) {
	max-width: 7em;
	}

.pkglist  td:nth-child(1) a, .pkglist  td:nth-child(2),
.filelist td:nth-child(1) a, .filelist td:nth-child(2) {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; -o-text-overflow: ellipsis;
	}

.filelist td:nth-child(2) {
	max-width: 30em;
	}

#actions { overflow: auto; }

a.pages {
	padding: 0.5ex;
	margin: 0.5ex 0;
	border: 1px solid #AAA;
	width: 3ex;
	display: inline-block;
	text-align: center;
	}
a.pages:hover {
	border: 1px solid #F94;
	background: #F94;
	color: black;
	}
a.pages.current, a.pages.current:hover {
	font-weight: bold;
	border: 1px solid #07F;
	background: #07F;
	color: #eee;
	}

a.tag1 { font-size: 0.9em; color: #678; }
a.tag2 { font-size: 1.0em; color: #444; }
a.tag3 { font-size: 1.1em; color: #16A; }
a.tag4 { font-size: 1.3em; color: #282; }
a.tag5 { font-size: 1.5em; color: #828; }
a.tag6 { font-size: 1.8em; color: #862; }
a.tag7 { font-size: 2.1em; color: #FA0; }
a.tag8 { font-size: 2.4em; color: #F00; }
a.tag1, a.tag2, a.tag3, a.tag4, a.tag5, a.tag6, a.tag7, a.tag8 {
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
	padding: 0.2em 0.5em;
}
a.tag1:hover, a.tag2:hover, a.tag3:hover, a.tag4:hover, a.tag5:hover, a.tag6:hover, a.tag7:hover, a.tag8:hover {
	outline: 1.5pt solid #FC8; }

